.Normal_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:12px;text-decoration:none;color:#000000;letter-spacing:0em;}
.Heading_2 {font-family:'Tahoma';font-weight:normal;font-style:normal;font-size:18px;text-decoration:none;color:#3C4156;letter-spacing:0em;}
.Heading_1 {font-family:'Poiret One';font-weight:normal;font-style:normal;font-size:40px;text-decoration:none;color:#FFFFFF;letter-spacing:0em;}
.Heading_4 {font-family:Arial;font-weight:bold;font-style:normal;font-size:12px;text-decoration:none;color:#000000;letter-spacing:0em;}
.Header_text_light {font-family:'Tahoma';font-weight:normal;font-style:normal;font-size:14px;text-decoration:none;color:#FFFFFF;letter-spacing:0em;}
