/* Text styles */
.xr_s0 {font-family:Arial;font-weight:normal;font-style:normal;font-size:10.63px;text-decoration:none;color:#000000;letter-spacing:0em;}
.xr_s1 {font-family:Arial;font-weight:normal;font-style:normal;font-size:10px;text-decoration:none;color:#000000;letter-spacing:0em;}
.xr_s2 {font-family:'Poiret One';font-weight:normal;font-style:normal;font-size:96px;text-decoration:none;color:#3C4156;letter-spacing:0em;}
